@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
/*================================header===============================*/

.navbar_hero-saction_bg {
  background-color: #1e71ff;
}

.logo {
  font-size: 26px;
  font-weight: 600;
  line-height: 30.16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
}
.logo-app {
  font-size: 26px;
  font-weight: 200;
  line-height: 30.16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
}

.navbar-links {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}
.navbar-links:hover {
  -webkit-text-stroke: 1px;
}

.navbar-btn {
  width: 111px;
  height: 40px;
  top: 30px;
  left: 1189px;

  border-radius: 100px;

  background: #4b8dff;

  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  color: #ffffff;
  border: none;
  transition: all 300ms linear;
}
.navbar-btn:hover {
  background-color: white;
  color: #4b8dff;
}

/*==============================section-1======================*/

.hero-section-btn {
  width: 172px;
  height: 50px;
  top: 587px;
  left: 140px;
  gap: 0px;
  border-radius: 60px;
  opacity: 0px;
  background: none;
  border: 1px solid white;

  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: #ffffff;
}

.hero-section-btn:hover {
  background-color: white;
  color: blue;
}
.hero_demo_btn {
  margin-left: 35px;
}
h2 {
  font-size: 75px;
  font-weight: 600;
  line-height: 96.3px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 20px;
}

.hero_section_text {
  font-size: 21px;
  font-weight: 400;
  line-height: 24.61px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 60px;
}

.hero_section_img {
  margin-top: 20px;
}

/*===========================section-2=========================*/

.instant_section_heading {
  font-size: 45px;
  font-weight: 500;
  line-height: 57.78px;
  text-align: center;
  color: #2b353e;
  margin-top: 90px;
}

.instant_section_pera {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.11px;
  text-align: center;
  color: #2b353eb2;
  margin-top: 30px;
}

.instant_box_img1 {
  top: -4%;
  left: -4%;
  z-index: -1;
}
.instant_box_img3 {
  right: -4%;
  z-index: -1;
  bottom: 13%;
}

/*============================section-3====================*/

.third-section {
  background: #e8f1ff;
  margin-top: 180px;
}

.third-section-box {
  margin-left: 100px;
}

.third-section-box-text-1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 57.78px;
  text-align: left;
  color: #2b353e;
  width: auto;
  margin-top: 122px;
}

.third-section-box-text-2 {
  font-size: 21px;
  font-weight: 400;
  line-height: 33.96px;
  text-align: left;
  color: #2b353eb2;
  margin-top: 30px;
}

.third-section-btn {
  width: 172px;
  height: 50px;
  top: 587px;
  left: 140px;
  gap: 0px;
  border-radius: 60px;
  opacity: 0px;
  background: none;
  border: 1px solid rgba(30, 113, 255, 1);

  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: #1e71ff;
}
.third-section-img {
  position: absolute;
  width: 50%;
  top: 40px;
  left: 0%;
}

.third-section-btn:hover {
  background: #1e71ff;
  color: #ffffff;
}

.line {
  width: 167px;
  height: 1px;
  top: 2779px;
  left: 835px;
  gap: 0px;
  border: 1px;
  opacity: 0px;
  border: 1px solid #2b353e26;
}

.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 29.11px;
  text-align: left;
  color: #2b353eb2;
}

.rate {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.11px;
  text-align: left;
  color: #2b353eb2;
}

/*======================footer====================*/

.footer-fonts {
  color: #6b7278;

  font-size: 15px;
  font-weight: 400;
  line-height: 24.25px;
}

.colour {
  color: black;
  font-weight: 400;
  font-size: 18px;
}
.color {
  color: rgba(43, 53, 62, 0.7);
}

.left-right {
  bottom: 30px;
  left: 130px;
  color: #6b7278;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 21.02px;
  text-align: left;
}

.app-chat {
  font-size: 26px;
  font-weight: 600;
  line-height: 30.16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1e71ff;
  letter-spacing: -2%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.appp {
  font-size: 26px;

  text-align: left;
  color: #1e71ff;

  font-weight: 200;
}

/*=====================responsive=======================*/

@media (max-width: 992px) {
  .third-section-box-text-1 {
    font-size: 40px;
  }
  .third-section-img {
    position: unset !important;
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .lg-view {
    flex-direction: column;

    width: 50%;
    height: 100%;
    justify-content: center;
    background-color: black;
    position: fixed;
    top: 0%;
    right: -100%;
    z-index: 4;
    transition: all 0.3s;
  }

  .ml407 {
    margin-right: 0;
  }

  label[for="menubar"] {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  label[for="menubar"] span {
    width: 100%;
    height: 3px;
    background-color: white;
    z-index: 5;
  }

  input[type="checkbox"]:checked ~ .lg-view {
    right: 0;
  }

  .col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (max-width: 576px) {
  .col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .ml-36 {
    margin-left: 0;
  }

  .mb-10 {
    margin-bottom: 10px;
  }

  .third-section-box-text-1 {
    text-align: center;
  }

  .third-section-box-text-2 {
    text-align: center;
  }

  .third-section-box {
    margin-left: 0;
  }

  .stars {
    display: flex;
    flex-direction: column;
  }
  .footer {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .col-3 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
  }
  .pos-unsets {
    position: unset !important;
    margin-top: 10px !important;
    text-align: center !important;
  }
  .colour {
    font-weight: bold;
    color: black;
  }
}
